    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    input {
        margin: 10px;
    }

    body{
        background: rgb(15, 240, 202);
    }

    #columnas1{
        background: rgb(160, 160, 236);
    }
    #filas1{
        background-color: rgb(160, 160, 236); ;
    }
    span{
        color: white;
        font-size: large;
    }

    h2{
        color: white;
    }
