* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(255, 232, 23);
background: linear-gradient(0deg, rgba(255, 232, 23, 1) 0%, rgba(255, 1, 1, 1) 100%);
}

#altura{
  background: yellow;
}
#peso{
  background: yellow;
}

#res{
  font-size: 20px;
  width: 100px;
  height: 100px;
}
#spinner{
  width: 100px;
  height: 100px;
}