* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(88, 253, 255);
}

#tabla{
  background: rgb(88, 253, 255);
background: linear-gradient(0deg, rgba(88, 253, 255, 1) 0%, rgba(255, 216, 134, 1) 100%);
border: 2px dashed black ;
}
#numero{
  background: black;
  width: 200px;
}

h1{
  color: dimgrey;
}
#num{
  color: grey;
}